<form #theForm="ngForm">
    <softheon-form-name [name]="person.name"></softheon-form-name>
    <softheon-form-name [name]="person.name" [showMiddle]="false"></softheon-form-name>
    <softheon-form-name [name]="person.name" [showSuffix]="false"></softheon-form-name>
    <softheon-form-ssn></softheon-form-ssn>
    <softheon-form-date-picker [placeholder]="'Birth Date'" [maxDate]="maxDate"></softheon-form-date-picker>
    <softheon-form-address [address]="person.address"></softheon-form-address>
    <softheon-form-phone-number [showCallingCode]="true"></softheon-form-phone-number>
    <softheon-form-status-frame [name]="'Status Frame!'" [valid]="true"></softheon-form-status-frame>
    <softheon-form-yes-no-question [label]="'THIS IS A YES OR NO QUESTION!'"></softheon-form-yes-no-question>
    <softheon-form-relationship [(relationship)]="person.relationship"></softheon-form-relationship>
    <softheon-form-currency></softheon-form-currency>
</form>

<softheon-form-alert [text]="'THIS IS A TEST MESSAGE'"></softheon-form-alert>