<form #theForm="ngForm">
    <softheon-form-name [name]="person.name"></softheon-form-name>
    <softheon-form-name [name]="person.name" [showMiddle]="false"></softheon-form-name>
    <softheon-form-name [name]="person.name" [showSuffix]="false"></softheon-form-name>
    <softheon-form-ssn></softheon-form-ssn>
    <softheon-form-date-picker [placeholder]="'Birth Date'" [maxDate]="maxDate"></softheon-form-date-picker>
    <softheon-form-address [address]="person.address"></softheon-form-address>
    <softheon-form-phone-number [showCallingCode]="true"></softheon-form-phone-number>
</form>

<softheon-form-alert [text]="'THIS IS A TEST MESSAGE'"></softheon-form-alert>
